[include]
	path = ~/.gitconfig.local
[includeIf "gitdir:~/src/github.com/*/"]
	path = ~/.gitconfig.local.github
[core]
	excludesfile = ~/.gitignore
	editor = emacs -nw
[color]
	ui = auto
[alias]
	s = status -s -b
	st = status
	a = add
	ap = add -p
	br = branch
	bra = branch -a
	df = diff --color-words
	dc = diff --cached
	ci = commit
	cim = commit -m
	co = checkout
	l = log --graph --decorate --oneline --stat
	lp = log -p
	gl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	pl = pull
[push]
	default = simple
# https://github.com/x-motemen/ghq
[ghq]
	root = ~/src
